body{
  color: #12cb22;
  background-color: #13b533;
}
.avatar-xl img {
  width: 110px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
.text-muted {
  color: #0cb44f !important;
}
.text-muted {
  font-weight: 300;
}
.form-control {
  color: rgb(7, 208, 57);
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color:rgb(5, 232, 9);
  background-color: #11b34c;
  background-clip: padding-box;
  border: 1px solid #eef0f3;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container{
  background-color: #11b34c;
  background-image: url('');  
  background-size: cover;
  background-position: center;
}